{% extends "base.html" %}
{% block content %}

<!-- 封面圖區塊，強制貼頂 + 滿版 -->
<div class="cover-escape-wrapper">
  <div class="cover-wrapper">
    <div class="cover-blur"></div>
    <div class="cover-center">
      <img src="{{ url_for('static', filename='cover.jpg') }}" alt="台中 玉旨奉天宮 雷王殿" class="cover-img">
    </div>
  </div>
</div>

<!-- container 內的內容 -->
<div class="container mt-4">
  <h1>雷天帝王（雷王）</h1>
  <p>『雷府千歲』本名雷萬春。是唐朝時期天寶十四年間，護國佑民忠貞愛國的英雄人物。雷萬春，逐州人士，自幼習武，秉性剛直，驍勇善戰，有志為國效力，可是未得逢時，因往京都訪兄雷海青，與南霽雲相識，兩人情投意合遂（義結金蘭）。<br><br>
    時傳聞安祿山於范陽起兵叛唐，兩人誓為國效勞，聞之當時雍丘城張巡是位武精學博之將領，遂相偕前往投其麾下為部將。雷萬春驍勇善戰、履破奇功，適逢安祿山叛變，生靈塗嘆、長安淪陷，令孤潮附賊引兵四萬攻打雍丘城，張巡率領雷萬春、南霽雲等諸將迎戰，令孤潮屢次攻打均因張巡之奇謀策略與諸將之奮戰而無功敗退。<br><br>
    當時長安失守消息傳至雍丘城，雷萬春得知雷海青殉節消息，悲憤填膺之際，受命登城防守，不料叛軍弓箭齊發雷萬春冷不防面頰被射中六箭，令孤潮眼見雷萬春中箭，即刻揮兵直逼城下，但見雷萬春乃挺然立於城上，自拔面上的箭而血流滿面，忽聞雷萬春在城上大罵令孤潮，不該助賊反唐，叛軍兵將個個膽破心驚，倉促而退。<br><br>
    安史之亂平定後，唐玄宗為嘉許其忠勇為國捐軀，諡封殉難諸將，雷萬春，勇猛剛烈難與倫比，諡封「雷霆驅魔大將軍」唐肅宗即位，追贈榮祿大夫，忠烈將軍。宋徽宗時期，追封忠勇侯。<br><br>
    雷萬春原貌是一位玉面秀士，在雍丘城戰役中，面頰中六支火箭，傷痊後已面目全非，故在民間奉祀神像中，有雕塑畫臉代表毁容「睢陽忠魂」，而雷天帝王聖稱武安尊王、騎虎尊王、雷府大將、雷霆驅魔大將軍、雷萬春將軍、雷將軍、厲王爺、大將爺、大眾爺、雷府王爺公、雷府千歲、雷天帝王等等尊號。
  </p>
  <br>
  <h1>葉府千歲（葉王）</h1>
  <p>宮中本無奉祀葉府千歲，是因緣際會之下與台南蔡姓弟子結交下緣分，蔡姓弟子之主公為萬皇宮延脈之葉、朱、李三府千歲，時逢本宮主公雷天帝王第一次接下夜巡重任，蔡姓弟子與本宮人與亦來往甚密，便由神明指示，邀請他一同參與此次任務活動，而獲得蔡姓弟子首肯後，葉府千歲無形之間也參與輔助雷天帝王此次任務，從此兩位神祇結下深刻緣分，夜巡圓滿後，才由本宮濟公禪師降駕指示此前因後果，更交代雕刻葉府千歲之神尊於宮中供奉，將這份緣分延續下去。
  </p>
  <br>
  <h1>巡天元帥</h1>
  <p>民國一百零四年，乩主陳賜貴先生仙逝，終身克盡職守，不貪錢財，晚年因體弱多病，病魔纏身，抱持著人飢己飢、人溺己溺的精神，只要有人困惑需請示，仍忠心抱病輔佐雷府千歲濟世救人，其精神令人敬佩！後世子孫於夢中夢見陳賜貴已功德圓滿，經雷府千歲拔薦列位仙班，玉皇大帝敕封為「巡天元帥」，派隨玉旨奉天宮雷府千歲為駕前先鋒官。起初陳家子孫半信半疑，將此事告知委員會，大家議論紛紛，有人提議為了慎重起見，須請示主公雷府千歲，經筊聖杯證實屬實，再搭天台請示玉皇大帝，聖杯也證實後，使依指示雕刻巡天元帥金尊奉祀於玉旨奉天宮。
  </p>
</div>

{% endblock %}
